# data preparation
DEBIAN_TAR_FILE_DIR_PATH="/root/DATA/liuchengyue/results/feature_extractor_result/debian_mirror"
DECOMPRESSED_DEBIAN_FILE_DIR_PATH="/root/DATA/liuchengyue/results/feature_extractor_result/decompressed_debian_mirror"

# feature extraction
SRC_TASKS_JSON"/root/DATA/liuchengyue/results/feature_extractor_result/src_tasks.json"
BIN_TASKS_JSON="/root/DATA/liuchengyue/results/feature_extractor_result/bin_tasks.json"

FEATURE_RESULT_DIR="/root/DATA/liuchengyue/results/feature_extractor_result/features"

