EXTRACTION_PROCESS_NUM = 50

# data preparation
DEBIAN_TAR_FILE_DIR_PATH="/root/DATA/liuchengyue/results/feature_extractor_result/debian_mirror"
DECOMPRESSED_DEBIAN_FILE_DIR_PATH="/root/DATA/liuchengyue/results/feature_extractor_result/decompressed_debian_mirror"

# feature extraction
SRC_REPOS_JSON="/root/DATA/liuchengyue/results/feature_extractor_result/src_repos.json"
BIN_REPOS_JSON="/root/DATA/liuchengyue/results/feature_extractor_result/bin_repos.json"

FEATURE_RESULT_DIR="/root/DATA/liuchengyue/results/feature_extractor_result/features"

